<div class="container">
  <div class="row">
    <div class="col-8">
      <h4 class="p-3 mb-2 mt-5 ms-5 col">
        <span class="bg-body-secondary"><b>&nbsp;&nbsp;&nbsp;注文情報確認&nbsp;&nbsp;&nbsp;</b></span>
      </h4>
    </div>
  </div>
</div>

<div class="row ms-5">
  <div class="col-6">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-6 table-light">商品名</th>
        <th class="table-light">単価(税込)</th>
        <th class="table-light">数量</th>
        <th class="table-light">小計</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td class="col-6"><%= image_tag cart_item.item.image, size: "40x40",class: "me-4" %><%= cart_item.item.name %></td>
        <td><%= (cart_item.item.price*1.08).to_i %></td>
        <td><%= cart_item.amount %></td>
        <td><%= (cart_item.item.price*1.08*cart_item.amount).to_i %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
  <div class="col-3">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="table-light">送料</th>
          <td><%= @order.shipping %></td>
        </tr>
         <tr>
          <th class="table-light">商品合計</th>
          <td><%= @total %></td>
        </tr>
         <tr>
          <th class="table-light">請求金額</th>
          <td><%= @order.shipping+@total %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row col-5 mt-4">
  <div class="col-3 ms-5">
    <h4><b>支払方法</b></h4>
  </div>
  <div class="col-4">
    <h6><%= @order.payment_status %></h6>
  </div>
</div>

<div class="row col-5 mt-5">
  <div class="col-3 ms-5">
    <h4><b>お届け先</b></h4>
  </div>
  <div class="col-4">
    <h6><%= @order.postal_code %><%= @order.address %></h6>
    <h6><%= @order.name %></h6>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= link_to "注文を確定する", create_orders_path, method: :post, class: "btn btn-success" %>
</div>
