<div class="container">
  <div class="row">
  <div class="col-8">
    <h4 class="p-3 mb-2 mt-5 ms-5 col">
      <span class="bg-body-secondary"><b>&nbsp;&nbsp;&nbsp;注文履歴一覧&nbsp;&nbsp;&nbsp;</b></span>
    </h4>
  </div>
  </div>
  <div class="row">
    <div class="col-11 mt-4">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th scope="col">注文日</th>
            <th scope="col">配送先</th>
            <th scope="col">注文商品</th>
            <th scope="col">支払金額</th>
            <th scope="col">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
            <td>〒<%= order.postal_code %><br><%= order.address %><br><%= order.name %></td>
            <td>
              <% order.order_items.each do |order_item| %>
                <%= order_item.item.name %>
              <% end %>
            </td>
            <td><%= (order.total_payment+order.shipping) %></td>
            <td><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>