<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ec197d3cc7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <div class="container-fluid">
          <div class="row">
            <div class="col mt-5">
            <ul class="nav">
              <li class="nav-item">
                <h2>
                  <%= link_to "Logo", root_path, style: "text-decoration: none;", style: "color:black;" %>
                </h2>
              </li>
            </ul>
            </div>

            <div class="col mt-2">
            <ul class="nav justify-content-end">
              <li class="nav-item">

              </li>
              <li class="nav-item">
                 <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      <% else %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
