<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ec197d3cc7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <div class="container-fluid">
          <div class="row">
            <div class="d-flex">
              <div class="p-2 flex-grow-1"><%= link_to "Logo", root_path %></div>
              <div class="p-2">Flex item</div>
              <div class="p-2">Third flex item</div>
            </div>
          </div>
        </div>
      <% else %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
